<!DOCTYPE html>
<html>
<head>
<title>Welcome to Dylan O'Connell's Quiz Site</title>
</head>
<body>

<h1>Login for Returning Users</h1>
<p></p>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
 
{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
 
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
 
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
 
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>


<h1>New User?</h1>


 <form>
 <fieldset>
    <legend>Create an Account:</legend>
  Username:<br>
  <input type="text" name="new_username"><br>
  Password:<br>
  <input type="password" name="new_password"><br>
  Repeat Password:<br>
  <input type="password" name="verify_password"><br>
  <input type="submit" value="Submit">
  </fieldset>
</form>


</body>
</html>


