<!DOCTYPE html>
{% extends "base.html" %}
<html>
{% block content %}
<head>
<title>Home</title>
</head>
<body>

<h1>Dylan O'Connell Quiz Homepage</h1>
<p></p>


      {% if not user.is_authenticated %}
      <li><a href="{% url 'django.contrib.auth.views.login' %}"> Login</a></li>
      <br>
      <li><a href="{% url 'account:register' %}"> Register an Account</a></li>
      <br>
      {% else %}
      <li><a href="{% url 'account:logout' %}"> Logout</a></li> <br>
      {% endif %}
      <li><a href="{% url 'quizzes:quizzes' %}"> List of Quizzes</a></li>
      <br>
      {% if user.is_superuser %}
      <p> Superuser Tools: </p>
      <li><a href="{% url 'quizzes:addquestion' %}"> Add a Quiz, Question, or Answer</a></li>
      <br>
      <li><a href="{% url 'quizzes:listquizresults' %}"> Check Quiz Results</a></li>
      <br>
      {% else %}
      {% endif %}

</body>

{% endblock %}

</html>


