<!DOCTYPE html>
<html>
<head>
<title>Quiz {{quiz.id}}</title>
</head>
<body>

<h1>Question {{question.id}}:</h1>
<p></p>

 <form>
 <fieldset>
    <legend>{{question.text}}</legend>
    {% if question  %}
    <ul>
        {% for answer in answer_list  %}
<!--http://django.readthedocs.org/en/latest/intro/tutorial04.html -->
             <input type="radio" name="answer" id = "answer{{forloop.counter }}" value= "{{ answer.id}}"
             <label for="answer{{ forloop.counter }}">{{ answer.text}}</label><br />
        {% endfor %}
    </ul>
        <input type="submit" value="Submit" />
   {% else %}
       <p>No valid question here.</p>
   {% endif %}


  </fieldset>
</form>

   {% if next_question %}
<p> The next question is {{next_question.id}}</p>
   {% else %}
   <p> Final question in the quiz" </p>
   {% endif %}

</body>
</html>

