<!DOCTYPE html>
<html>
<head>
<title>Quiz {{quiz.id}}</title>
</head>
<body>

<h1>Question {{question.id}}:</h1>
<p></p>

 <!-- <form action="{% url 'quizsite:quizzes' %}" method="post">
  {% csrf_token %} -->
  <form>
  <fieldset>
     <legend>{{question.text}}</legend>
     {% if question  %}
     <ul>
        {% for answer in answer_list  %}
            <input type="radio" name="answer" id = "answer{{forloop.counter }}" value= "{{ answer.id}}"
            <label for="answer{{ forloop.counter }}">{{ answer.text}}</label><br />
        {% endfor %}
     </ul>
     <input type="submit" value="Submit" />
     {% else %}
        <p>No valid question here.</p>
     {% endif %}
   </fieldset><br />
   </form>

   {% if prev_question %}
      <li><a href="/quizzes/{{ quiz.id }}/{{prev_question.id }}/">Previous: Question {{ prev_question.id}}</a></li>
   {% else %}
      <p> First question in the quiz. </p>
   {% endif %}

   <br />
   {% if next_question %}
      <li><a href="/quizzes/{{ quiz.id }}/{{next_question.id }}/">Next: Question {{ next_question.id}}</a></li>
   {% else %}
       <p> Final question in the quiz. </p>
   {% endif %}

</body>
</html>

