<!DOCTYPE html>
{% extends "base.html" %}
<html>
{% block content %}
<head>
<title> {{quiz}} </title>
</head>
<body>

<h1>Question #{{curr_question_number}}:</h1>
<legend> {{question.text}} </legend>
<br>
<form method="post" action="{% url 'quizzes:submitanswer' quiz.id question.id %}">
{% csrf_token %}
{{ formset.management_form }}
<table border="1">
    <tr>
        {% for item in formset_answers %}
            <td> {{ item.1.text }} </td>
            {{ item.0 }}
        {% endfor %}
    </tr>
</table>
    <input type="submit" value="Submit Answer" />
</form>
<br>

<p>
{% if prev_question %}
    <li><a href="{% url 'quizzes:question' quiz.id prev_question.id %}">Previous: Question {{ prev_question_number}}</a></li>
{% else %}
    <li> First question in the quiz. </li>
{% endif %}
<br>
{% if next_question %}
    <li><a href="{% url 'quizzes:question' quiz.id next_question.id %}">Next: Question {{ next_question_number}}</a></li>
{% else %}
<li> Final question in the quiz. </li> <br>
    <a href="{% url 'quizzes:finishquiz' quiz.id %}">Submit the quiz: {{quiz}}</a>
{% endif %}
</p>
</body>
{% endblock %}
</html>

